<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ContactUs</title>

</head>
<center>

<body style="background-image:url('/static/images/background.jpg');background-repeat:no-repeat;background-size:100%;">
{% include 'base.html' %}
<br>
<u><h3 style="font-family:verdana;font-size:25px">ContactUs</h3></u>
<div>
<br>
<b><h2 style="font-family:verdana;font-size:28px;font-weight:bold">DigitalDentistry</h2></b>
<br>
<h3 style="font-family:verdana;font-size:25px">
516 W. Remington Drive #2<br>
Sunnyvale, CA 94087<br>
Tel: (408) 736-3311<br>
Fax: (408 736-2620
</h3>
<a style="font-family:verdana;font-size:25px" href="http://www.digitaldentistry.com">http://www.digitaldentistry.com</a>
<br>
<h3 style="font-family:verdana;font-size:25px">
<br>
Business Hours: Mon-Fri 9:15am-5pm
</h3>
</div>
</body>
</center>
</html>